@charset "ISO-8859-1";
.navcontainer{
	 background: #0953a8;
    padding: 0 0;
}
.icon{
  margin-left: 35%;
  
}
.btn1{
  float: left;
}
.btn2{
  float: right;
  margin-right:53%;
}
.card1{
  padding-left: 10%;
  padding-right: 10%;
  font-family: Times New Roman;
 
}

.container-linux{
	width:50%;
	float:left;
}

.container-windows{
	width:50%;
	float:right;
}
.container-logout{
	padding-left:10%;
	padding-top:4%;
}
#container-one{
	display:none;
}
.class-footer{
	background: #0953a8;
	position: fixed;
   bottom: 0;
   width: 100%;
   height: 70px;   /* Height of the footer */
  
}


.list-items {
	color : black;
}

.list-items:active {
	color:#0d6efd;
}

.bg-green {
	background-color : #00b300;
}
