<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CyberGyan</title>
<link rel="stylesheet" th:href="@{/css/AdminHome.css}" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/datatables.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/tableexport.js}"></script>
<link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}">
<script type="text/javascript" th:src="@{/js/datatables.js}"></script>
</head>
<body style="background-color: rgb(158, 191, 251);">
	<div class=navcontainer>
		<div class="img-fluid">
			<img style="width: 90px; margin-left: 30px;" src=""
				th:src="@{/images/cdac-wo-bg.png}" alt="">
			<form th:action="@{/logout}" method="post"
				style="float: right; margin-top: 25px; margin-right: 10px">
				<a th:href="@{/welcome}" class="btn btn-primary mb-2"
					style="margin-top: 10px;">Site Home</a> <input type="submit"
					class="btn btn-primary" value="Logout" />
			</form>
		</div>
	</div>
	<div class="lab-desc">
		<a class="active" href="AdminHome"
			style="color: white; text-decoration: none;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> E-LAB Details </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			
			<li><a class="dropdown-item" href="AddExercise">Add Exercise</a></li>
			<li><a class="dropdown-item" href="exercisedetails">View
					Exercise details</a></li>
			<li><a class="dropdown-item" href="addvm">Add VM</a></li>
			<li><a class="dropdown-item" href="vmdetails">View VM
					details</a></li>
			<li><a class="dropdown-item" href="LabDetails">View E-LAB
					Details</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Assignment </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AssignBatch">Assign Batch</a></li>
			<li><a class="dropdown-item" href="assignExercise">Assign
					Exercise</a></li>
			<li><a class="dropdown-item" href="Batchexercise">View
					Batchwise Exercise</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Registration Approval </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="StudentApproval">Student
					Approval</a></li>
			<li><a class="dropdown-item" href="TeacherApproval">Teacher
					Approval</a></li>
			<li><a class="dropdown-item" href="ManageCourseAccess">Manage
					Course Access</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Center Dashboard </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="CenterDetails">Center
					Details</a></li>
			<li><a class="dropdown-item" href="AddCourse">Add Course</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Submissions </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="folders">Advance Lab</a></li>
			<li><a class="dropdown-item" href="basiclab">Basic Lab</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a href="ExerciseCompletion" style="color: white;"> Reports </a>
		
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Exercise Content </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AddExerciseContent">Add Exercise Content</a></li>
			<li><a class="dropdown-item" href="AddExerciseImage">Add Exercise Image</a></li>
			<li><a class="dropdown-item" href="updateExerciseContent">Update Exercise Content</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a href="StudentTrackTime" style="color: white; text-decoration: none;">StudentTrackTime</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="deleteAllVmDetails" style="color: white; text-decoration: none;">Delete All VM Details</a>&nbsp;&nbsp;&nbsp;&nbsp;
	</div>

	<div class=" m-4 mx-auto w-25">
		<div class=" text-center fs-1 text-primary">
			<strong>Admin Dashboard</strong>
		</div>
	</div>
	<div class="card m-4 p-4 mx-auto" style="width: auto; height: auto">
		<div id="access">
			<th:block th:if="${session.access}">
				<p class="text-center fs-3 text-success">[[${session.access}]]</p>
				<th:block th:text="${#session.removeAttribute('access')}"></th:block>
			</th:block>
		</div>
		<h3 class="text-center text-danger">
			<strong>List of Invalid Students</strong>
		</h3>
		<hr />
		<div class="table-responsive">
			<table id="approved-table"
				class="table table-light table-hover table-bordered">
				<thead>
					<tr class="table-info">
					    <th class="text-center">S.No.</th>
						<th class="text-center">ID</th>
						<th class="text-center">User Name</th>
						<th class="text-center">Email</th>
						<th class="text-center">Registration Date</th>
						<th class="text-center">Approval Date</th>
						<th class="text-center">Valid Till</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user,index : ${userRoles}" class="text-center">
					    <th scope="row" th:text="${index.count}"></th>
						<td th:text="${user.id}" />
						<td th:text="${user.username}" />
						<td th:text="${user.emailAddress}" />
						<td th:text="${user.registrationDate}"
							data-registration-date="${user.registrationDate}" />
						<td th:text="${user.approvalDate}"
							data-registration-date="${user.approvalDate}" />
						<td th:text="${user.validTill}"
							data-registration-date="${user.validTill}" />
						<td><a
							th:href="@{/deleteuser/{emailAddress}(emailAddress=${user.emailAddress})}"
							class="btn btn-danger">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
        // Automatically remove success message after 3 seconds
        const access = document.getElementById('access');
        if (access) {
            setTimeout(() => {
            	access.remove();
            }, 3000);
        }
    </script>
	<script type="text/javascript">
    $(document).ready(function() {
        // Function to filter table rows based on the date range
        function filterTableRows() {
            var startDate = new Date($("#startDate").val());
            var endDate = new Date($("#endDate").val());
            $("#approved-table tbody tr").each(function() {
                var regDateStr = $(this).find("td:nth-child(4)").text();
                var regDate = new Date(regDateStr);
                if (regDate >= startDate && regDate <= endDate) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
        // Initial filtering when the page loads (if desired)
        // filterTableRows();
        // Filter table rows when the "Filter" button is clicked
        $("#filterBtn").click(function() {
            filterTableRows();
        });
        // Clear filter and show all table rows when the "Clear Filter" button is clicked
        $("#clearFilterBtn").click(function() {
            // Show all rows by setting their display property to "table-row"
            $("#approved-table tbody tr").show();
            // Optionally, you can clear the date inputs if needed
            $("#startDate").val("");
            $("#endDate").val("");
        });
    });
</script>
	<script>
		$(document).ready(function() {
			$('#approved-table').DataTable({
	    	    aLengthMenu: [
	    	        [25, 50, 100, 200, -1],
	    	        [25, 50, 100, 200, "All"]
	    	    ],
	    	    iDisplayLength: 25
	    	});
		});
	</script>
	<br>
	<div class="class-footer">
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Copyright &copy; 2022</b>
		</p>
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Designed and Developed by CDAC</b>
		</p>
	</div>
</body>
</html>