<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CyberGyan</title>
<link rel="stylesheet" href="" th:href="@{/css/AdminHome.css}" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<style>
.select2 {
width:100%!important;
}
.select2-container--default .select2-selection--single {
    height: calc(2.5rem + 2px); 
    border: 1px solid #ced4da; 
    border-radius: 0.5rem; 
    padding: 0.375rem 0.75rem;
    box-shadow: none;
    background-color: #fff;
    font-size: 1rem;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    font-size: 1rem;
    box-shadow: none;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    border-color: #ced4da;
    outline: none;
}
</style>
</head>
<body style="background-color: rgb(158, 191, 251);">
	<div class=navcontainer>
		<div class="img-fluid">
			<img style="width: 90px; margin-left: 30px;" src=""
				th:src="@{/images/cdac-wo-bg.png}" alt="">
			<form th:action="@{/logout}" method="post"
				style="float: right; margin-top: 25px; margin-right: 10px">
				<a th:href="@{/TeacherHome}" class="btn btn-primary mb-2"
					style="margin-top: 10px;">Home</a> <input type="submit"
					class="btn btn-primary" value="Logout" />
			</form>
		</div>
	</div>
	<div class="lab-desc">
		<a href="AdminHome" style="color: white; text-decoration: none;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> E-LAB Details </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AddExercise">Add Exercise</a></li>
			<li><a class="dropdown-item" href="exercisedetails">View
					Exercise details</a></li>
			<li><a class="dropdown-item" href="addvm">Add VM</a></li>
			<li><a class="dropdown-item" href="vmdetails">View VM
					details</a></li>
			<li><a class="dropdown-item" href="LabDetails">View E-LAB
					Details</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white active" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Assignment </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="AssignBatch">Assign
					Batch</a></li>
			<li><a class="dropdown-item active" href="assignExercise">Assign
					Exercise</a></li>
			<li><a class="dropdown-item" href="Batchexercise">View
					Batchwise Exercise</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Registration Approval </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="StudentApproval">Student
					Approval</a></li>
			<li><a class="dropdown-item" href="TeacherApproval">Teacher
					Approval</a></li>
			<li><a class="dropdown-item" href="ManageCourseAccess">Manage
					Course Access</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>

		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Center Dashboard </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="CenterDetails">Center
					Details</a></li>
			<li><a class="dropdown-item" href="AddCourse">Add Course</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>

		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Submissions </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="folders">Advance Lab</a></li>
			<li><a class="dropdown-item" href="basiclab">Basic Lab</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>

		</ul>
		<a href="ExerciseCompletion" style="color: white;"> Reports </a>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Exercise Content </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AddExerciseContent">Add Exercise Content</a></li>
			<li><a class="dropdown-item" href="AddExerciseImage">Add Exercise Image</a></li>
			<li><a class="dropdown-item" href="updateExerciseContent">Update Exercise Content</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a href="StudentTrackTime" style="color: white; text-decoration: none;">StudentTrackTime</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="deleteAllVmDetails" style="color: white; text-decoration: none;">Delete All VM Details</a>&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	<div class="card1">
		<div class="card text-center">
			<div class="card-header" style="background-color: white;">
				<div th:if="${msg}" th:text="${msg}"
					th:class="${!msg.contains('already')} ? 'message-green' : 'message-red'"></div>
				<h1 style="font-family: Times New Roman;">
					<b>Assign Exercise</b>
				</h1>
			</div>
			<div class="card-body" style="background-color: rgb(205, 214, 224);">
				<div class="container">
					<div class="row">
						<div class="card-body">
							<form th:action="@{/savebatchex}" th:object="${batchmaster}"
								method="POST" id="moduleform" name="moduleform">
								<input type="hidden" name="${_csrf.parameterName}"
									value="${_csrf.token}" /> <input type="hidden" name="hppCode"
									id="hppCode" /> <input type="hidden" id="cid" name="cid" />


								<div class="form-group">
									<div class="col-xl-9 col-xxl-6 text-center mx-auto">
										<div>
											<label for="fname" class="form-label"><b>Batch ID</b></label>
											<font color="red"> *</font>
											<select class="batch-search form-select" name="batch_no" id="batch_no" required>
												<option selected disabled value=""></option>
												<option th:each="bat :${listbatch}" th:value="${bat}" th:text="${bat}"></option>
											</select>
										</div>
										<br>

										<div>
											<label for="fname" class="form-label"><b>Select Exercise</b></label><font color="red"> *</font> 
											<select	class="exercise-search form-select" name="exer_id" id="exer_id" onchange="updateHiddenField()" required>
												<option selected disabled value=""></option>
												<option th:each="exercise_master :${listExercise}" th:value="${exercise_master.ex_id}" th:text="${exercise_master.exer_name}" th:data-name="${exercise_master.exer_name}"></option>
											</select> 
											<input type="hidden" name="exer_name" id="exer_name" value="">
										</div>
										
										<!-- <div>
										    <label for="fname" class="form-label"><b>Select Exercise</b></label><font color="red"> *</font>
										    <select class="form-select" name="exer_id" id="exer_id" onchange="updateHiddenField()" required multiple>
											    <option value="" disabled>Select exercise(s)</option>
											    <option th:each="exercise_master :${listExercise}" th:value="${exercise_master.ex_id}" th:text="${exercise_master.prob_statement}" th:data-name="${exercise_master.exer_name}"></option>
											</select>
										    <input type="hidden" name="exer_name" id="exer_name" value="">
										</div>
										<script>
										    $(document).ready(function () {
										        $('#exer_id').select2({
										            placeholder: "Select exercise(s)",
										            allowClear: true // Optional: allows clearing the selection
										        });
										    });
										</script> -->
										<br>

										<script>
											function updateHiddenField() {
												var selectedOption = document
														.getElementById("exer_id").options[document
														.getElementById("exer_id").selectedIndex];
												var exerName = selectedOption
														.getAttribute("data-name");
												//alert(exerName);
												document
														.getElementById("exer_name").value = exerName;
											}
										</script>


									</div>
								</div>
								<button type="submit" class="btn btn-primary"
									onclick="checkData();">Assign</button>
								<a th:href="@{/Batchexercise}" class="btn btn-primary mb-2"
									style="margin-top: 8px;">Back</a>
							</form>

                <script src="/js/sha256.js"></script>
				<script src="/js/crypto-js.js"></script>
				<script src="/js/validation.js"></script>
							<script>
								function checkData() {
									var exerciseName = document
											.getElementById("exer_name").value;

									var batch_no = document
											.getElementById("batch_no").value;
									var exer_id = document
									.getElementById("exer_id").value;
									
									
									var inputCode = "";
									inputCode += getInputCode(exerciseName);
									inputCode += getInputCode(batch_no);
									inputCode += getInputCode(exer_id);

									var hppCode = getHPPCode(origHPPCode,
											inputCode);

									document.getElementById("hppCode").value = hppCode;

									// Validate the form using your validation logic
									if (validateForm()) {
										document.getElementById('moduleform')
												.submit();
									}
									return false; // Prevent default form submission
								}

								function validateForm() {
									// Add your validation logic here
									// Return true if the form is valid, otherwise return false

									// Example: Check if the exerciseName is not empty
									var exerciseName = document
											.getElementById("exer_name").value;
									if (exerciseName.trim() === "") {
										// Display an error message or perform other actions
										return false;
									}

									// Example: Check if at least one exercise is selected
									var selectedExercises = document
											.getElementById("exer_id").selectedOptions;
									if (selectedExercises.length === 0) {
										return false;
									}

									// Example: Check if batch_no is selected
									var selectedBatch = document
											.getElementById("batch_no").value;
									if (!selectedBatch) {
										return false;
									}

									// Add more validation logic as needed

									return true; // Form is valid
								}
								
								$(document).ready(function() {
								    $('.batch-search').select2({
								    	placeholder:"Select batch ID",
								    	allowClear: true
								    });
								    $('.exercise-search').select2({
								    	placeholder:"Select exercise",
								    	allowClear: true
								    });
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="class-footer">
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Copyright &copy; 2022</b>
		</p>
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Designed and Developed by CDAC</b>
		</p>
	</div>
</body>

</html>