<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CyberGyan</title>
<link rel="stylesheet" href="" th:href="@{/css/ConfigVPN.css}" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
<link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
</head>
<body style="background-color: white;">
	<div class=navcontainer>
		<div class="img-fluid">
			<img style="width: 90px; margin-left: 30px;" src=""
				th:src="@{/images/cdac-wo-bg.png}" alt="">
			<form th:action="@{/logout}" method="post"
				style="float: right; margin-top: 25px; margin-right: 10px">
				<input type="submit" class="btn btn-primary" value="Logout" />
			</form>
		</div>
	</div>
	<h1
		style="text-align: center; font-size: 40px; font-family: Times New Roman;">
		<b>Welcome E-Lab</b>
	</h1>
	<div style="text-align: center;">
		<h3
			style="display: inline-block; border: 3px solid black; padding: 10px;">
			Instructions to Configure the VPN</h3>
	</div>
	<div class="container">
		<div class="row my-5 ">
			<div class="card mx-auto border-success text-justify"
				style="max-width: 50rem;">
				<div style="display: flex; justify-content: flex-start;">
					<a href="/" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>
				</div>
				<div class="col-10 mx-auto text-start">
					<br>
					<p class="text-justify">
						<strong>Welcome to the CyberGyan Basic course for students. 
							This step-by-step guide will demonstrate how to install and configure a 
							VPN to securely connect beyond the perimeter of the typical campus environment. 
							By following these instructions, you'll be able to access the URL for student 
							registrations in a secure manner. Let's get started.</strong>
					</p>
					<p>
						To connect to CDAC Network using a VPN connection, you will have
						to first install the VPN client on your machine. Follow the
						below-given instructions to download and install the Fortinet SSL
						VPN client on your windows machine. <br>
						<br> 1. The following instructions a student has to follow to manually install the Fortinet SSL VPN client in windows. <br>
						<br> <a href= "https://www.fortinet.com/support/product-downloads">https://www.fortinet.com/support/product-downloads</a><br>
						<br> Download FortiClient VPN only <br>
					</p>
					<br> <img src="images/Picture0.png" class="img-fluid"
						alt="Picture1.png"> <br>
					<br>To download VPN software for multiple devices, choose the appropriate version based on your operating system. 
					For instance, if you're using Windows, download the VPN software designed specifically for Windows operating systems. 
					This ensures compatibility and optimal performance.<br>
					<br> <img src="images/Picture1.png" class="img-fluid"
						alt="Picture1.png"> <br> <br> c. After the
					download gets completed, select the license agreement and click on
					next. <br> <br> <img src="images/CV2.png"
						class="img-fluid" alt="CV2.png"> <br> <br> d.
					Click on install.<br> <br> <img src="images/CV3.png"
						class="img-fluid" alt="CV3.png"> <br> <br> e. This
					will start FortiClient installation.<br> <br> <img
						src="images/CV4.png" class="img-fluid" alt="CV4.png"> <br>
					<br> f. after installation click on the Finish button. <br>
					<br> <img src="images/CV5.png" class="img-fluid" alt="CV5.png">
					<br> <br> Configuring Fortinet SSL VPN Client to connect
					to CDAC Network The client is now installed and needs to be
					configured. To configure the client, follow the below given steps.<br>
					<br> 2. Search for FortiClient VPN in the windows search bar
					and click on open.<br> <br> <img src="images/CV6.png"
						class="img-fluid" alt="CV6.png"> <br> <br> 3.
					Select the Acknowledgement on the page opened and click on I
					accept. <br> <br> <img src="images/CV7.png"
						class="img-fluid" alt="CV7.png"> <br> <br> 4.
					Click on the Configure VPN link. <br> <br> <img
						src="images/CV8.png" class="img-fluid" alt="CV8.png"> <br>
					<br> 5. Click on Configure VPN <br> <br> 
					<p>
						<b>
							1.	Click on 1st Tab “SSL-VPN” 
						</b>
						<br><br>
						<img src="images/SSL-VPN.png" class="img-fluid" alt="SSL-VPN.png"> <br> <br>
						<b>2.	“Connection Name” : cybergyan  <br>
							3.	“Description Name” : cybergyan  <br>
							4.	“Remote Gateway” : cybergyanvpn.dcservices.in <br><br>
						</b> 
						<b> as below mentioned</b><br><br>
					<img src="images/CV9.png" class="img-fluid" alt="CV9.png"> <br>
					</p>
					<br><b>Note- If above Remote Gateway not work then ( For Jio user follow below settings) - 
						<br>* Remote Gatway For Jio User : 220.156.184.22 <br><br>
						as below mentioned:
					</b>
					<br><br>
					<img src="images/CV14.png" class="img-fluid" alt="CV14.png"> <br>
					<br> 5.	After installation and Configuration of the Fortinet SSL VPN Client,
					              enter your “username and password” (check your email for VPN username and password) and click on “Connect”
					              Connect Using these Credentials:
					              <br>
					             	 <b>
										  Username: ****** <br>
									Password:  *******
									  </b>
					 <br> 
					 <br> 
					<img
						src="images/CV10.png" class="img-fluid" alt="CV10.png"> <br>
					<br>  After entering VPN credentials, click on 'Connect'. If the connection gets stuck at 40%
					<br> <br> <img src="images/CV11.png"
						class="img-fluid" alt="CV11.png"> <br> <br>
					Check the taskbar for another FortiClient icon. Click on the second icon. If a security alert appears, 
					asking 'The Certificate Issuer for this site is untrusted or unknown. Do you wish to proceed?' then click <b>'Yes'</b> to continue. <br> <br>
					<img src="images/CV12.png" class="img-fluid" alt="CV12.png">
					<br><br> <b> Ok . Now VPN is Connected. <br><br>
					<img src="images/CV13.png" class="img-fluid" alt="CV13.png">
					<br><br><b> Note : "Now for to access Advanced lab, you need to be connected to the VPN."</b> <br> <br> 
					<div style="display: flex; justify-content: center;">
						<a href="/" class="btn btn-primary">Back</a>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="class-footer">
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Copyright &copy; 2022</b>
		</p>
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Designed and Developed by CDAC</b>
		</p>
	</div>
</body>

</html>