<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CyberGyan</title>
<link rel="stylesheet" href="" th:href="@{/css/StudentApproval.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body style="background-color: rgb(158, 191, 251);">
	<div class=navcontainer>
		<div class="img-fluid">
			<img style="width: 90px; margin-left: 30px;" src=""
				th:src="@{/images/cdac-wo-bg.png}" alt="">
			<form th:action="@{/logout}" method="post"
				style="float: right; margin-top: 25px; margin-right: 10px">
				<a th:href="@{/}" class="btn btn-primary mb-2"
					style="margin-top: 10px;">Home</a> <input type="submit"
					class="btn btn-primary" value="Logout" />
			</form>
		</div>
	</div>
	<div class="lab-desc">
		<a href="AdminHome" style="color: white; text-decoration: none;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="nav-link dropdown-toggle text-white " href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> E-LAB Details </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="AddExercise">Add
					Exercise</a></li>
			<li><a class="dropdown-item  " href="exercisedetails">View
					Exercise details</a></li>
			<li><a class="dropdown-item" href="addvm">Add VM</a></li>
			<li><a class="dropdown-item" href="vmdetails">View VM
					details</a></li>
			<li><a class="dropdown-item" href="LabDetails">View E-LAB
					Details</a></li>

			<!-- <li><a class="dropdown-item" href="folders">PDF List</a></li> -->
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Assignment </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AssignBatch">Assign Batch</a></li>
			<li><a class="dropdown-item" href="assignExercise">Assign
					Exercise</a></li>
			<li><a class="dropdown-item" href="Batchexercise">View
					Batchwise Exercise</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white active" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Registration Approval </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="StudentApproval">Student
					Approval</a></li>
			<li><a class="dropdown-item" href="TeacherApproval">Teacher
					Approval</a></li>
			<li><a class="dropdown-item active" href="ManageCourseAccess">Manage
					Course Access</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white " href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Center Dashboard </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="CenterDetails">Center
					Details</a></li>
			<li><a class="dropdown-item " href="AddCourse">Add Course</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white " href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Submissions </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="folders">Advance Lab</a></li>
			<li><a class="dropdown-item " href="basiclab">Basic Lab</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a href="ExerciseCompletion" style="color: white;"> Reports </a>
	</div>
	<div class=" m-4 mx-auto w-25">
		<div class=" text-center fs-1 text-success ">
			<b><u>Active Student</u></b>
		</div>
	</div>
	<div class="card m-4 p-4 mx-auto" style="width: 100rem; height: auto">
		<div class="form-group row">
			<label for="startDate" class="col-sm-1 col-form-label"><b>From
					Date:</b></label>
			<div class="col-sm-2">
				<input type="date" class="form-control" id="startDate">
			</div>
			<label for="endDate" class="col-sm-1 col-form-label "><b>To
					Date:</b></label>
			<div class="col-sm-2">
				<input type="date" class="form-control" id="endDate">
			</div>
			<div class="col-sm-1">
				<button id="filterBtn" class="btn btn-primary">Filter</button>
			</div>
		</div>
		<hr />

		<!-- Add a table where you want to display the filtered data -->
		<table id="filtered-table">
			<thead>

				<!-- Add your table header here -->
			</thead>
			<tbody>

				<!-- Use Thymeleaf to loop through the filtered data and display the rows -->
				<tr th:each="row : ${#strings.arraySplit(filteredData, ',')}">
					<td th:utext="${row}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
    $(document).ready(function() {
        // Retrieve the filtered data from local storage
        var filteredData = JSON.parse(localStorage.getItem("filteredData"));
        if (filteredData) {
            // Append the filtered data to the table on the other page
            $("#filtered-table tbody").html(filteredData);
        }
    });
</script>
	<script>
		$(document).ready(function() {
			$('#approved-table').DataTable();
			$('.dataTables_length').addClass('bs-select');
		});
	</script>
</body>
</html>