<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CyberGyan</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/datatables.css}">
<link rel="stylesheet" th:href="@{/css/StudentApproval.css}">
<link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
<style>
.progress-bar-container {
	width: 100%;
	height: 20px;
	background-color: #f2f2f2;
	border-radius: 4px;
	margin-bottom: 10px;
}

.progress-bar {
	height: 100%;
	line-height: 20px;
	color: white;
	text-align: right;
	border-radius: 4px;
	background-color: #4CAF50;
}
</style>
</head>
<body style="background-color: rgb(158, 191, 251);">
	<div class=navcontainer>
		<div class="img-fluid">
			<img style="width: 90px; margin-left: 30px;" src=""
				th:src="@{/images/cdac-wo-bg.png}" alt="">
			<form th:action="@{/logout}" method="post"
				style="float: right; margin-top: 25px; margin-right: 10px">
				<a th:href="@{/welcome}" class="btn btn-primary mb-2"
					style="margin-top: 10px;">Site Home</a> <input type="submit"
					class="btn btn-primary" value="Logout" />
			</form>
		</div>
	</div>
	<div class="lab-desc">
		<a href="AdminHome" style="color: white; text-decoration: none;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="nav-link dropdown-toggle text-white " href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> E-LAB Details </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="AddExercise">Add
					Exercise</a></li>
			<li><a class="dropdown-item  " href="exercisedetails">View
					Exercise details</a></li>
			<li><a class="dropdown-item" href="addvm">Add VM</a></li>
			<li><a class="dropdown-item" href="vmdetails">View VM
					details</a></li>
			<li><a class="dropdown-item" href="LabDetails">View E-LAB
					Details</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Assignment </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AssignBatch">Assign Batch</a></li>
			<li><a class="dropdown-item" href="assignExercise">Assign
					Exercise</a></li>
			<li><a class="dropdown-item" href="Batchexercise">View
					Batchwise Exercise</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Registration Approval </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="StudentApproval">Student
					Approval</a></li>
			<li><a class="dropdown-item" href="TeacherApproval">Teacher
					Approval</a></li>
			<li><a class="dropdown-item" href="ManageCourseAccess">Manage
					Course Access</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white " href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Center Dashboard </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="CenterDetails">Center
					Details</a></li>
			<li><a class="dropdown-item " href="AddCourse">Add Course</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white " href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Submissions </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="folders">Advance Lab</a></li>
			<li><a class="dropdown-item " href="basiclab">Basic Lab</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="active" href="ExerciseCompletion" style="color: white;">
			Reports </a>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Exercise Content </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AddExerciseContent">Add Exercise Content</a></li>
			<li><a class="dropdown-item" href="AddExerciseImage">Add Exercise Image</a></li>
			<li><a class="dropdown-item" href="updateExerciseContent">Update Exercise Content</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a href="StudentTrackTime" style="color: white; text-decoration: none;">StudentTrackTime</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="deleteAllVmDetails" style="color: white; text-decoration: none;">Delete All VM Details</a>&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	<div class="card mb-5">
			<div class="card-header" style="background-color: white;">
				<h1 style="font-family: Times New Roman;" class="text-center">
					<b>Lab Completion Status</b>
				</h1>
			</div>
			<div class="card-body" style="background-color: rgb(205, 214, 224);">
				<div class="table-responsive">
					<table id="labCompletionTable"
						class="table table-hover table-light table-bordered w-100">
						<thead>
							<tr class="table-info">
							    <th class="text-center">S.No.</th>
								<th class="text-center">ID</th>
								<th class="text-center">First NAME</th>
								<th class="text-center">Last NAME</th>
								<th class="text-center">E-MAIL</th>
								<th class="text-center">COLLEGE</th>
								<th class="text-center">STATE</th>
								<th class="text-center">COMPLETION</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
				<script>
				</script>
				<div class="text-center">
				<button class="btn btn-primary mb-2" style="margin-top: 8px;" id="exportExcel">
					<i class="fa fa-download"></i> Download Excel
				</button>
				<a th:href="@{/ExerciseCompletion}" class="btn btn-primary mb-2"
					style="margin-top: 8px;"> Back</a>
				 </div>
			</div>
		</div>
	<div class="w-100 mt-auto fw-bold" style="background-color: #0953a8;">
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Copyright &copy; 2022 </b>
		</p>
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Designed and Developed by CDAC</b>
		</p>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/datatables.js}"></script>
	<script type="text/javascript" th:src="@{/js/xlsx.full.min.js}"></script>
	<script>
	//Lab Completion Table
	$(document).ready(function() {
	    $('#labCompletionTable').DataTable({
	        processing: true,
	        serverSide: true,
	        ajax: {
	            url: '/labCompletionStatusData',
	            method: 'GET',
	            data: function(d) {
	            	//console.log(d);
	                return $.extend({}, d, {
	                });
	            },
	            dataSrc: function(response) {
	            	//console.log(response);
	                return response.data;
	            }
	        },
	        columns: [
	        	{ 
	        		data: null,
	                className: "text-center",
	                title: "S. No",
	                render: function (data, type, row, meta) {
	                    return meta.row + meta.settings._iDisplayStart + 1;
	                }
	            },
	            { data: 'id', title: 'ID' , className: 'text-center'},
	            { data: 'firstName', title: 'First Name' , className: 'text-center'},
	            { data: 'lastName', title: 'Last Name' , className: 'text-center'},
	            { data: 'emailAddress', title: 'Email Address' , className: 'text-center'},
	            { data: 'college', title: 'College' , className: 'text-center'},
	            { data: 'state', title: 'State' , className: 'text-center'},
	            {
	                data: 'completion',
	                title: 'Completion',
	                className: 'text-center fw-bold',
	                render: function (data, type, row) {
	                    var percent = parseFloat(data);
	                    if (isNaN(percent)) {
	                        return data;
	                    }
	                    
	                    var percentString = percent.toFixed(2);
	                    return `
	                    	${percentString}%
	                        <div class="progress-bar-container" style="height: 10px;">
	                            <div class="progress-bar" role="progressbar" style="width: ${percentString}%;"
	                                 aria-valuenow="${percentString}" aria-valuemin="0" aria-valuemax="100">
	                            </div>
	                        </div>`;
	                }
	            }
	        ],
	        lengthMenu: [
	            [10, 25, 50, 100, 500],
	            [10, 25, 50, 100, 500]
	        ],
	        searching: true,
	        ordering: true,
	        paging: true,
	        lengthChange: true,
	        pageLength: 10
	    });
	    
	});
	
	//Lab Completion Table export Excel
	$(document).ready(function() {
		$('#exportExcel').click(function() {
	        $('#exportExcel').addClass('disabled').html('<span class="spinner-border spinner-border-sm me-2"></span><span role="status">Exporting...</span>');
	        
	        var allData = [];
	        var batchSize = 100;
	        var start = 0;
	        
	        function fetchData() {
	            $.ajax({
	                url: "/labCompletionStatusData",
	                type: 'GET',
	                data: {
	                    draw: 1,
	                    start: start,
	                    length: batchSize
	                },
	                cache: false,
	                success: function(response) {
	                    var data = response.data;
	                    if (data.length > 0) {
	                        allData = allData.concat(data);
	                        start += batchSize;
	                        fetchData();
	                    } else {
	                        generateExcel();
	                    }
	                },
	                error: function() {
	                    $('#exportExcel').removeClass('disabled').html('<i class="fa fa-download"></i> Download Excel');
	                }
	            });
	        }

	        function generateExcel() {
	            var wb = XLSX.utils.book_new();
	            var ws_data = [];

	            ws_data.push(['ID', 'First Name', 'Last Name', 'Email Address', 'College', 'State', 'Completion']);

	            allData.sort(function(a, b) {
	                return a.id - b.id;
	            });

	            allData.forEach(function(row) {
	                ws_data.push([
	                    row.id,
	                    row.firstName,
	                    row.lastName,
	                    row.emailAddress,
	                    row.college,
	                    row.state,
	                    parseFloat(row.completion).toFixed(2)
	                ]);
	            });

	            var ws = XLSX.utils.aoa_to_sheet(ws_data);

	            function getColumnWidth(columnData) {
	                var minWidth = 50;
	                var maxWidth = 300;
	                var baseWidth = 10;
	                var maxLength = columnData.map(cell => (cell || '').toString().length).reduce((max, len) => Math.max(max, len), 0);
	                var calculatedWidth = baseWidth + maxLength * 7;
	                return { wpx: Math.min(Math.max(calculatedWidth, minWidth), maxWidth) };
	            }

	            var colWidths = ws_data[0].map(function(_, i) {
	                var columnData = ws_data.map(row => row[i]);
	                return getColumnWidth(columnData);
	            });

	            ws['!cols'] = colWidths;

	            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
	            XLSX.writeFile(wb, 'Lab Completion.xlsx');
	            $('#exportExcel').removeClass('disabled').html('<i class="fa fa-download"></i> Download Excel');
	        }

	        fetchData();
	    });
	});
	</script>
</body>
</html>