<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CyberGyan</title>
<link rel="stylesheet" th:href="@{/css/pdf.css}" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/datatables.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
<link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}">
<script type="text/javascript" th:src="@{/js/datatables.js}"></script>
<style>
.export-menu .export-item {
    color: #000;
}

.export-menu .export-item:hover {
    background-color: #157347;
    color: white;
}
</style>
</head>
<body style="background-color: rgb(158, 191, 251);">
	<div class=navcontainer>
		<div class="img-fluid">
			<img style="width: 90px; margin-left: 30px;" src=""
				th:src="@{/images/cdac-wo-bg.png}" alt="">
			<form th:action="@{/logout}" method="post"
				style="float: right; margin-top: 25px; margin-right: 10px">
				<a th:href="@{/welcome}" class="btn btn-primary mb-2"
					style="margin-top: 10px;">Site Home</a> <input type="submit"
					class="btn btn-primary" value="Logout" />
			</form>
		</div>
	</div>
	<div class="lab-desc">
		<a href="AdminHome" style="color: white; text-decoration: none;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="nav-link dropdown-toggle text-white " href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> E-LAB Details </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="AddExercise">Add
					Exercise</a></li>
			<li><a class="dropdown-item  " href="exercisedetails">View
					Exercise details</a></li>
			<li><a class="dropdown-item" href="addvm">Add VM</a></li>
			<li><a class="dropdown-item" href="vmdetails">View VM
					details</a></li>
			<li><a class="dropdown-item" href="LabDetails">View E-LAB
					Details</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Assignment </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AssignBatch">Assign Batch</a></li>
			<li><a class="dropdown-item" href="assignExercise">Assign
					Exercise</a></li>
			<li><a class="dropdown-item" href="Batchexercise">View
					Batchwise Exercise</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Registration Approval </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="StudentApproval">Student
					Approval</a></li>
			<li><a class="dropdown-item" href="TeacherApproval">Teacher
					Approval</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white " href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Center Dashboard </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="CenterDetails">Center
					Details</a></li>
			<li><a class="dropdown-item " href="AddCourse">Add Course</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white active" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Submissions </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item active" href="folders">Advance
					Lab</a></li>
			<li><a class="dropdown-item" href="basiclab">Basic Lab</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a href="ExerciseCompletion" style="color: white;"> Reports </a>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Exercise Content </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AddExerciseContent">Add Exercise Content</a></li>
			<li><a class="dropdown-item" href="AddExerciseImage">Add Exercise Image</a></li>
			<li><a class="dropdown-item" href="updateExerciseContent">Update Exercise Content</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a href="StudentTrackTime" style="color: white; text-decoration: none;">StudentTrackTime</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="deleteAllVmDetails" style="color: white; text-decoration: none;">Delete All VM Details</a>&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	<div class="card mb-5">
		<div class="card-header" style="background-color: white;">
			<h1 style="font-family: Times New Roman;" class="text-center">
				<b>PDF List</b>
			</h1>
		</div>
		<div class="card-body table-responsive" style="background-color: rgb(205, 214, 224);">
			<!-- <div class="d-flex justify-content-end mb-3">
			    <button type="button" id="exportExcel" class="btn btn-primary">Export as Excel</button>
			</div> -->
			<div class="dropdown d-flex justify-content-end mb-3">
			  <button class="btn btn-success dropdown-toggle" type="button" id="exportExcel" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-file-excel me-2"></i>Export as Excel</button>
			  <ul class="dropdown-menu export-menu text-center">
			    <li><a class="dropdown-item export-item" href="#" id="exportAllExcel">All Records</a></li>
			    <li><a class="dropdown-item export-item" href="#" id="exportDisplayedExcel">Displayed Records</a></li>
			  </ul>
			</div>
			<table class="table table-light table-hover table-bordered w-100" id="approved-table">
			    <thead>
			        <tr class="table-info">
			            <th class="text-center">ID</th>
			            <th class="text-center">Name</th>
			            <th class="text-center">Email Address</th>
			            <th class="text-center">Mobile Number</th>
	   		            <th class="text-center">Exercise Name</th>
			            <th class="text-center">PDF Name</th>
			            <th class="text-center">PDF File</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<!-- This will be populated by DataTable -->
			    </tbody>
			</table>
		</div>
	</div>

	<input type="hidden" id="csrf" th:value="${_csrf.token}" />

	<footer class="bg-violet w-100 mt-auto">
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Copyright &copy; 2022</b>
		</p>
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Designed and Developed by CDAC</b>
		</p>
	</footer>
	
	<script src="/js/sha256.js"></script>
	<script src="/js/crypto-js.js"></script>
	<script src="/js/validation.js"></script>
	<script src="/js/xlsx.full.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#exportAllExcel').click(function() {
		        var dropdownElement = $('#exportExcel');
		        var dropdown = new bootstrap.Dropdown(dropdownElement);
		        dropdown.hide();
		        $('#exportExcel').addClass('disabled').html('<span class="spinner-border spinner-border-sm me-2"></span><span role="status">Exporting...</span>');
		        
		        var allData = [];
		        var batchSize = 100;
		        var start = 0;
		        
		        function fetchData() {
		            $.ajax({
		                url: "/submissionData",
		                type: 'GET',
		                data: {
		                    draw: 1,
		                    start: start,
		                    length: batchSize
		                },
		                cache: false,
		                success: function(response) {
		                    var data = response.data;
		                    if (data.length > 0) {
		                        allData = allData.concat(data);
		                        start += batchSize;
		                        fetchData();
		                    } else {
		                        generateExcel();
		                    }
		                },
		                error: function() {
		                    $('#exportExcel').removeClass('disabled').html('Export to Excel');
		                }
		            });
		        }

		        function generateExcel() {
		            var wb = XLSX.utils.book_new();
		            var ws_data = [];

		            ws_data.push(['ID', 'Name', 'Email Address', 'Mobile Number', 'Exercise Name', 'PDF Name']);

		            allData.sort(function(a, b) {
		                return a.exerciseSubmitId - b.exerciseSubmitId;
		            });

		            allData.forEach(function(row) {
		                ws_data.push([
		                    row.exerciseSubmitId,
		                    row.name,
		                    row.email,
		                    row.mobile,
		                    row.exerciseName || '',
		                    row.pdfName
		                ]);
		            });

		            var ws = XLSX.utils.aoa_to_sheet(ws_data);

		            function getColumnWidth(columnData) {
		                var minWidth = 50;
		                var maxWidth = 300;
		                var baseWidth = 10;
		                var maxLength = columnData.map(cell => (cell || '').toString().length).reduce((max, len) => Math.max(max, len), 0);
		                var calculatedWidth = baseWidth + maxLength * 7;
		                return { wpx: Math.min(Math.max(calculatedWidth, minWidth), maxWidth) };
		            }

		            var colWidths = ws_data[0].map(function(_, i) {
		                var columnData = ws_data.map(row => row[i]);
		                return getColumnWidth(columnData);
		            });

		            ws['!cols'] = colWidths;

		            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
		            XLSX.writeFile(wb, 'Submission.xlsx');
		            $('#exportExcel').removeClass('disabled').html('Export to Excel');
		        }

		        fetchData();
		    });
			$('#exportDisplayedExcel').click(function() {
				var dropdownElement = $('#exportExcel');
				var dropdown = new bootstrap.Dropdown(dropdownElement);
			    dropdown.hide();
				$('#exportExcel').addClass('disabled').html('<span class="spinner-border spinner-border-sm me-2"></span><span role="status">Exporting...</span>');
					var table = $('#approved-table').DataTable();
					
					var data = table.rows().data().toArray();
	                
					var wb = XLSX.utils.book_new();
	                var ws_data = [];

	                ws_data.push(['ID', 'Name', 'Email Address','Mobile Number', 'Exercise Name', 'PDF Name']);
					
	                data.sort(function(a, b) {
	                    return a.exerciseSubmitId - b.exerciseSubmitId;
	                });
	                
	                data.forEach(function(row) {
	                    ws_data.push([
	                        row.exerciseSubmitId,
	                        row.name,
	                        row.email,
	                        row.mobile,
	                        row.exerciseName || '',
	                        row.pdfName
	                    ]);
	                });

	                var ws = XLSX.utils.aoa_to_sheet(ws_data);

	                function getColumnWidth(columnData) {
	                    var minWidth = 50;
	                    var maxWidth = 300;
	                    var baseWidth = 10;
	                    var maxLength = columnData.map(cell => (cell || '').toString().length).reduce((max, len) => Math.max(max, len), 0);
	                    var calculatedWidth = baseWidth + maxLength * 7; 
	                    return { wpx: Math.min(Math.max(calculatedWidth, minWidth), maxWidth) };
	                }

	                var colWidths = ws_data[0].map(function(_, i) {
	                    var columnData = ws_data.map(row => row[i]);
	                    return getColumnWidth(columnData);
	                });

	                ws['!cols'] = colWidths;

	                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

	                XLSX.writeFile(wb, 'Submission.xlsx');
	                $('#exportExcel').removeClass('disabled').html('Export to Excel');
		    	});
			});
		$(document).ready(function() {
		    $('#approved-table').DataTable({
		        processing: true,
		        serverSide: true,
		        ajax: {
		            url: '/submissionData',
		            method: 'GET',
		            data: function(d) {
		            	//console.log(d);
		                return $.extend({}, d, {
		                });
		            },
		            dataSrc: function(response) {
		            	//console.log(response);
		                return response.data;
		            }
		        },
		        columns: [
		            { data: 'exerciseSubmitId', title: 'ID' , className: 'text-center'},
		            { data: 'name', title: 'Name' , className: 'text-center'},
		            { data: 'email', title: 'Email Address' , className: 'text-center'},
		            { data: 'mobile', title: 'Mobile Number' , className: 'text-center'},
		            { data: 'exerciseName', title: 'Exercise Name' , className: 'text-center'},
		            { data: 'pdfName', title: 'PDF Name' , className: 'text-center'},
		            { data: '', title: 'PDF File', className: 'text-center', render: function(data, type, row, ) {
		                return `
		                    <form action="/pdf" method="POST" name="pdfform" target="_blank" id="pdfform${row.exerciseSubmitId}">
		                    	<input type="hidden" name="_csrf" id="csrf${row.exerciseSubmitId}">
		                   		<input type="hidden" name="hppCode" id="hppCodePDF${row.exerciseSubmitId}">
		                   		<input type="hidden" name="id" value="${row.exerciseSubmitId}">
			                    <input type="hidden" name="pdfID" value="${row.exerciseSubmitId}" id="pdfID${row.exerciseSubmitId}">
		                        <button type="submit" class="btn btn-transparent" onclick="pdfData(${row.exerciseSubmitId})">
		                            <i class="text-success fas fa-eye h5"></i>
		                        </button>
		                    </form>
		                `;
		            }}
		        ],
		        lengthMenu: [
		            [10, 25, 50, 100, 500],
		            [10, 25, 50, 100, 500]
		        ],
		        searching: true,
		        ordering: true,
		        paging: true,
		        lengthChange: true,
		        pageLength: 10
		    });
		    
	   });
		
		function pdfData(id) {
			var pdfID = document.getElementById("pdfID" + id).value;
			var inputCode = "";
			inputCode += getInputCode(pdfID);
			var hppCode = getHPPCode(origHPPCode, inputCode);
			document.getElementById("hppCodePDF" + id).value = hppCode;
			
			var csrf = document.getElementById('csrf').value;
			document.getElementById('csrf' + id).value = csrf;
			
			document.getElementById('pdfform' + id).submit();			
			return false;
		}
	</script>
</body>
</html>