<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CyberGyan</title>
<link rel="stylesheet" href="" th:href="@{/css/pdf.css}" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/datatables.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
<link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}">
<script type="text/javascript" th:src="@{/js/datatables.js}"></script>
</head>
<body style="background-color: rgb(158, 191, 251);">
	<div class=navcontainer>
		<div class="img-fluid">
			<img style="width: 90px; margin-left: 30px;" src=""
				th:src="@{/images/cdac-wo-bg.png}" alt="">
			<form th:action="@{/logout}" method="post"
				style="float: right; margin-top: 25px; margin-right: 10px">
				<a th:href="@{/welcome}" class="btn btn-primary mb-2"
					style="margin-top: 10px;">Site Home</a> <input type="submit"
					class="btn btn-primary" value="Logout" />
			</form>
		</div>
	</div>
	<div class="lab-desc">
		<a href="AdminHome" style="color: white; text-decoration: none;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="nav-link dropdown-toggle text-white " href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> E-LAB Details </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="AddExercise">Add
					Exercise</a></li>
			<li><a class="dropdown-item  " href="exercisedetails">View
					Exercise details</a></li>
			<li><a class="dropdown-item" href="addvm">Add VM</a></li>
			<li><a class="dropdown-item" href="vmdetails">View VM
					details</a></li>
			<li><a class="dropdown-item" href="LabDetails">View E-LAB
					Details</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Assignment </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AssignBatch">Assign Batch</a></li>
			<li><a class="dropdown-item" href="assignExercise">Assign
					Exercise</a></li>
			<li><a class="dropdown-item" href="Batchexercise">View
					Batchwise Exercise</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Registration Approval </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="StudentApproval">Student
					Approval</a></li>
			<li><a class="dropdown-item" href="TeacherApproval">Teacher
					Approval</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white " href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Center Dashboard </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="CenterDetails">Center
					Details</a></li>
			<li><a class="dropdown-item " href="AddCourse">Add Course</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white active" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Submissions </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item active" href="folders">Advance
					Lab</a></li>
			<li><a class="dropdown-item" href="basiclab">Basic Lab</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a href="ExerciseCompletion" style="color: white;"> Reports </a>
		<a class="nav-link dropdown-toggle text-white" href="#"
			id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Exercise Content </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AddExerciseContent">Add Exercise Content</a></li>
			<li><a class="dropdown-item" href="AddExerciseImage">Add Exercise Image</a></li>
			<li><a class="dropdown-item" href="updateExerciseContent">Update Exercise Content</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a href="StudentTrackTime" style="color: white; text-decoration: none;">StudentTrackTime</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="deleteAllVmDetails" style="color: white; text-decoration: none;">Delete All VM Details</a>&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	<div class="card">
		<div class="card-header" style="background-color: white;">
			<h1 style="font-family: Times New Roman;" class="text-center">
				<b>PDF List</b>
			</h1>
		</div>
		<div class="card-body" style="background-color: rgb(205, 214, 224);">
		<table class="table table-light table-hover table-bordered" id="approved-table">
		    <thead>
		        <tr class="table-info">
		            <th class="text-center">S.No.</th>
		            <th class="text-center">Name</th>
		            <th class="text-center">Email Address</th>
   		            <th class="text-center">Exercise Name</th>
		            <th class="text-center">PDF Name</th>
		            <th class="text-center">PDF File</th>
		        </tr>
		    </thead>
		    <tbody>
		       <!--  <tr th:each="entry, index : ${submissionsWithEmails}" class="text-center">
		            <th scope="row" th:text="${index.count}"></th>
		            <td style="text-align: center;" th:text="${entry.key.username}"></td>
		            <td style="text-align: center;" th:text="${entry.value}"></td>
		            <td style="text-align: center;" th:text="${entry.key.pdfname}"></td>
		            <td style="text-align: center;">
		                <form th:action="@{/pdf(id=${entry.key.exsubmit_id})}" method="post" th:attr="id='pdfform'+${entry.key.exsubmit_id}" name="pdfform" target="_blank">
		                    <input type="hidden" name="hppCode" th:attr="id='hppCodePDF'+${entry.key.exsubmit_id}" />
		                    <input type="hidden" name="pdfID" th:attr="value=${entry.key.exsubmit_id}, id='pdfID'+${entry.key.exsubmit_id}" />
		                    <button type="submit" class="border-0 bg-transparent h4" th:attr="onclick='pdfData(' + ${entry.key.exsubmit_id} + ')'">
		                        <i class="text-success fas fa-eye"></i>
		                    </button>
		                </form>
		            </td>
		        </tr> -->
		    </tbody>
		</table>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="class-footer">
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Copyright &copy; 2022</b>
		</p>
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Designed and Developed by CDAC</b>
		</p>
	</div>
	<script src="/js/sha256.js"></script>
	<script src="/js/crypto-js.js"></script>
	<script src="/js/validation.js"></script>
	<script>
		function pdfData(id) {
			var pdfID = document.getElementById("pdfID" + id).value;
			var inputCode = "";
			inputCode += getInputCode(pdfID);
			var hppCode = getHPPCode(origHPPCode, inputCode);
			document.getElementById("hppCodePDF" + id).value = hppCode;
			document.getElementById('pdfform' + id).submit();
			return false; // Prevent default form submission
		}
	
		$(document).ready(function() {
		    $('#approved-table').DataTable({
		        processing: true,
		        serverSide: true,
		        ajax: {
		            url: '/submissionData', // Ensure this URL matches your backend endpoint
		            method: 'GET',
		            data: function(d) {
		                // Ensure the correct parameters are sent
		                console.log("Data sent to server:", d);
		                return $.extend({}, d, {
		                    // Optionally add more data to be sent
		                });
		            },
		            dataSrc: function(response) {
		                // Log the response to verify its structure
		                console.log("Response from server:", response);
		                return response.data; // Adjust if necessary
		            }
		        },
		        columns: [
		            { data: 'exerciseSubmitId', title: 'S.No.' },
		            { data: 'name', title: 'Name' },
		            { data: 'email', title: 'Email Address'},
		            { data: 'exerciseName', title: 'ExerciseName' },
		            { data: 'pdfName', title: 'PDF Name' },
		            { data: '', title: 'PDF File', render: function(data, type, row) {
		                return `
		                    <form action="/pdf" method="get" id="pdfform${row.exerciseSubmitId}" class="text-center mx-auto" name="pdfform" target="_blank">
		                   		<input type="hidden" name="hppCode" id="hppCodePDF${row.exerciseSubmitId}" />
		                   		<input type="hidden" name="id" value="${row.exerciseSubmitId}" />
			                    <input type="hidden" name="pdfID" value="${row.exerciseSubmitId}" id="pdfID${row.exerciseSubmitId}" />
		                        <button type="submit" class="btn btn-transparent" onclick="pdfData(${row.exerciseSubmitId})">
		                            <i class="text-success fas fa-eye h5"></i>
		                        </button>
		                    </form>
		                `;
		            }}
		        ],
		        searching: true,
		        ordering: true,
		        paging: true,
		        lengthChange: true,
		        pageLength: 25
		    });
		});
	</script>
</body>
</html>