<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CyberGyan</title>
<link rel="stylesheet" href="" th:href="@{/css/AdminHome.css}" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body style="background-color: rgb(158, 191, 251);">
	<div class=navcontainer>
		<div class="img-fluid">
			<img style="width: 90px; margin-left: 30px;" src=""
				th:src="@{/images/cdac-wo-bg.png}" alt="">
			<form th:action="@{/logout}" method="post"
				style="float: right; margin-top: 25px; margin-right: 10px">
				<a th:href="@{/}" class="btn btn-primary mb-2"
					style="margin-top: 10px;">Home</a> <input type="submit"
					class="btn btn-primary" value="Logout" />
			</form>
		</div>
	</div>
	<div class="lab-desc">
		<a href="/AdminHome"
			style="color: white; text-decoration: none;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> E-LAB Details </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="/AddExercise">Add Exercise</a></li>
			<li><a class="dropdown-item" href="/exercisedetails">ViewExercise details</a></li>
			<li><a class="dropdown-item" href="/addvm">Add VM</a></li>
			<li><a class="dropdown-item" href="/vmdetails">View VM details</a></li>
			<li><a class="dropdown-item" href="/LabDetails">View E-LAB Details</a></li>
			<li><hr class="dropdown-divider"></li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Assignment </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="/AssignBatch">Assign Batch</a></li>
			<li><a class="dropdown-item" href="/assignExercise">Assign Exercise</a></li>
			<li><a class="dropdown-item" href="/Batchexercise">View Batchwise Exercise</a></li>
			<li><hr class="dropdown-divider"></li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Registration Approval </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="/StudentApproval">Student Approval</a></li>
			<li><a class="dropdown-item" href="/TeacherApproval">Teacher Approval</a></li>
			<li><a class="dropdown-item" href="/ManageCourseAccess">Manage Course Access</a></li>
			<li><hr class="dropdown-divider"></li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Center Dashboard </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="/CenterDetails">Center Details</a></li>
			<li><a class="dropdown-item" href="/AddCourse">Add Course</a></li>
			<li><hr class="dropdown-divider"></li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Submissions </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="/folders">Advance Lab</a></li>
			<li><a class="dropdown-item" href="/basiclab">Basic Lab</a></li>
			<li><hr class="dropdown-divider"></li>
		</ul>
		<a class="active" href="/ExerciseCompletion" style="color: white;"> Reports </a>
		<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Exercise Content </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="/AddExerciseContent">Add Exercise Content</a></li>
			<li><a class="dropdown-item" href="/AddExerciseImage">Add Exercise Image</a></li>
			<li><a class="dropdown-item" href="/updateExerciseContent">Update Exercise Content</a></li>
			<li><hr class="dropdown-divider"></li>
		</ul>
		<a href="/StudentTrackTime" style="color: white; text-decoration: none;">StudentTrackTime</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/deleteAllVmDetails" style="color: white; text-decoration: none;">Delete All VM Details</a>&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	
	<div class="card1">
		<div class="card text-center">
			<div class="card-header" style="background-color: white;">
				<h1 style="font-family: Times New Roman;">
					<b>Registered Students Status</b>
				</h1>
			</div>
			<div class="card-body" style="background-color: rgb(205, 214, 224);">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover"
						id="export-btn">
						<thead>
							<tr class="table-info">
								<th style="color: rgb(0, 0, 255)" scope="col">NAME</th>
								<th style="color: rgb(0, 0, 255)" scope="col">E-MAIL</th>
								<th style="color: rgb(0, 0, 255)" scope="col">CATEGORY</th>
								<th style="color: rgb(0, 0, 255)" scope="col">STATE</th>
								<th style="color: rgb(0, 0, 255)" scope="col">COLLEGE</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="student : ${list}">
								<td th:text="${student.firstName}"></td>
								<td th:text="${student.emailAddress}"></td>
								<td th:text="${student.category}"></td>
								<td th:text="${student.state}"></td>
								<td th:text="${student.college}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<button onclick="downloadExcel()" class="btn btn-primary mb-2"
					style="margin-top: 8px;">
					<i class="fa fa-download"></i> Download Excel
				</button>
				<a th:href="@{/Statewise}" class="btn btn-primary mb-2"
					style="margin-top: 8px;">Back</a>
			</div>
		</div>
	</div>
	<script>
      function downloadExcel() {
        var table = document.getElementById("export-btn");
        var rows = table.getElementsByTagName("tr");
        var csv = [];
        for (var i = 0; i < rows.length; i++) {
          var row = [],
            cols = rows[i].querySelectorAll("td, th");
          for (var j = 0; j < cols.length; j++)
            row.push(cols[j].innerText);
          csv.push(row.join(","));
        }
        var downloadLink = document.createElement("a");
        var blob = new Blob(["\ufeff", csv.join("\n")], {
          type: "text/csv;charset=utf-8"
        });
        var url = URL.createObjectURL(blob);
        downloadLink.href = url;
        downloadLink.download = "data.csv";
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
      }
    </script>
	<br>
	<br>
	<br>
	<br>
	<div class="class-footer">
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			<b>Copyright &copy; 2022 
		</p>
		<p
			style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">Designed
			and Developed by CDAC</p>
	</div>
</body>
</html>