<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CyberGyan</title>
<link rel="stylesheet" th:href="@{/css/StudentApproval.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/datatables.css}">
<style>
.total-count-size {
    font-size: 1.5em;
    font-family: 'Helvetica', sans-serif;
}
</style>
</head>
<body>
	<div class=navcontainer>
		<div class="img-fluid">
			<img style="width: 90px; margin-left: 30px;" th:src="@{/images/cdac-wo-bg.png}">
			<form th:action="@{/logout}" method="post" style="float: right; margin-top: 25px; margin-right: 10px">
				<a th:href="@{/welcome}" class="btn btn-primary mb-2" style="margin-top: 10px;">Site Home</a> <input type="submit" class="btn btn-primary" value="Logout">
			</form>
		</div>
	</div>
	<div class="lab-desc">
		<a href="AdminHome" style="color: white; text-decoration: none;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="nav-link dropdown-toggle text-white " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> E-LAB Details </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="AddExercise">Add Exercise</a></li>
			<li><a class="dropdown-item  " href="exercisedetails">View Exercise details</a></li>
			<li><a class="dropdown-item" href="addvm">Add VM</a></li>
			<li><a class="dropdown-item" href="vmdetails">View VM details</a></li>
			<li><a class="dropdown-item" href="LabDetails">View E-LAB Details</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Assignment </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AssignBatch">Assign Batch</a></li>
			<li><a class="dropdown-item" href="assignExercise">Assign Exercise</a></li>
			<li><a class="dropdown-item" href="Batchexercise">View Batchwise Exercise</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Registration Approval </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item active" href="StudentApproval">Student Approval</a></li>
			<li><a class="dropdown-item" href="TeacherApproval">Teacher Approval</a></li>
			<li><a class="dropdown-item" href="ManageCourseAccess">Manage Course Access</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> Center Dashboard </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="CenterDetails">Center Details</a></li>
			<li><a class="dropdown-item " href="AddCourse">Add Course</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a class="nav-link dropdown-toggle text-white " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Submissions </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item " href="folders">Advance Lab</a></li>
			<li><a class="dropdown-item " href="basiclab">Basic Lab</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>
		<a href="ExerciseCompletion" style="color: white;"> Reports </a>
		<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Exercise Content </a>
		<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="AddExerciseContent">Add Exercise Content</a></li>
			<li><a class="dropdown-item" href="AddExerciseImage">Add Exercise Image</a></li>
			<li><a class="dropdown-item" href="updateExerciseContent">Update Exercise Content</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
		</ul>		
		<a  href="StudentTrackTime" style="color: white; text-decoration: none;">Student Track Time</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="deleteAllVmDetails" style="color: white; text-decoration: none;">Delete All VM Details</a>&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	<div class="py-2 px-4 mb-5">
		<hr>
		<div class="m-4 mx-auto w-25">
			<div class="text-center fs-1 text-primary">
				<div class="fw-bold">Pending Students</div>
			</div>
		</div>
		<hr>
		<div class="d-flex justify-content-between align-items-center">
			<div class="d-flex text-primary total-count-size">Total Number Of Pending Students :<p class="ms-1" th:text="${totalPendingStudents}"></div>
		</div>
		<div class="table-responsive">
		    <table id="pending-table" class="table table-light table-hover table-bordered w-100">
		        <thead>
		            <tr class="table-info">
		                <th class="text-center">S.No.</th>
		                <th class="text-center">ID</th>
		                <th class="text-center">First Name</th>
		                <th class="text-center">Last Name</th>
		                <th class="text-center">Email Address</th>
		                <th class="text-center">Course</th>
		                <th class="text-center">College</th>
		                <th class="text-center">State</th>
		                <th class="text-center">Registration</th>
		                <th class="text-center">Category Certificate</th>
		                <th class="text-center">Last Marksheet</th>
		                <th class="text-center">Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		           
		        </tbody>
		    </table>
		</div>
		<hr>
		<div class="m-4 mx-auto w-25">
			<div class="text-center fs-1 text-success">
				<div class="fw-bold">Approved Students</div>
			</div>
		</div>
		<hr>
		<div class="d-flex justify-content-between align-items-center">
			<div class="d-flex text-primary total-count-size">Total Number Of Approved Students :<p class="ms-1" th:text="${totalApprovedStudents}"></div>
		</div>
		<div class="table-responsive">
		    <table id="approved-table" class="table table-light table-hover table-bordered w-100">
		        <thead>
		            <tr class="table-info">
		               	<th class="text-center">S.No.</th>
						<th class="text-center">ID</th>
						<th class="text-center">First Name</th>
						<th class="text-center">Last Name</th>
						<th class="text-center">Email Address</th>
						<th class="text-center">Course</th>
						<th class="text-center">Batch/Class</th>
						<th class="text-center">College</th>
						<th class="text-center">State</th>
						<th class="text-center">Registration Date</th>
						<th class="text-center">Approval Date</th>
						<th class="text-center">Valid Till</th>
						<th class="text-center">Extend Validity</th>
						<th class="text-center">CC</th>
						<th class="text-center">LM</th>
						<th class="text-center">Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		           
		        </tbody>
		    </table>
		</div>
		<hr>
		<div class="m-4 mx-auto w-25">
			<div class="text-center fs-1 text-danger">
				<div class="fw-bold">Rejected Students</div>
			</div>
		</div>
		<hr>
		<div class="d-flex justify-content-between align-items-center">
			<div class="d-flex text-primary total-count-size">Total Number Of Rejected Students :<p class="ms-1" th:text="${totalRejectedStudents}"></div>
		</div>
		<div class="table-responsive">
		    <table id="rejected-table" class="table table-light table-hover table-bordered w-100">
		        <thead>
		            <tr class="table-info">
		               	<th class="text-center">S.No.</th>
						<th class="text-center">ID</th>
						<th class="text-center">First Name</th>
						<th class="text-center">Last Name</th>
						<th class="text-center">Email Address</th>
						<th class="text-center">Course</th>
						<th class="text-center">College</th>
						<th class="text-center">State</th>
						<th class="text-center">Registration Date</th>
						<th class="text-center">CC</th>
						<th class="text-center">LM</th>
						<th class="text-center">Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		           
		        </tbody>
		    </table>
		</div>
		
	</div>
	<input type="hidden" id="csrf" th:value="${_csrf.token}" />
	<div class="w-100 mt-auto fw-bold" style="background-color: #0953a8;">
		<p style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">
			Copyright &copy; 2022
		</p>
		<p style="font-family: Times New Roman; text-align: center; color: white; font-size: 18px;">Designed and Developed by CDAC</p>
	</div>
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables.js}"></script>
<script type="text/javascript" th:src="@{/js/sha256.js}"></script>
<script type="text/javascript" th:src="@{/js/crypto-js.js}"></script>
<script type="text/javascript" th:src="@{/js/validation.js}"></script>
<script type="text/javascript" th:src="@{/js/studentApproval.js}"></script>
<div th:if="${error}" class="toast-container position-fixed bottom-0 end-0">
	<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="8000">
		<div class="toast-header bg-danger">
		   	<i class="fas fa-times-circle me-2 mb-0 text-white h5"></i>
		    <strong class="me-auto text-white">Error</strong>
		    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
		  </div>
		<div class="toast-body bg-light rounded-bottom fw-bold" th:text="${error}">This is a toast message.</div>
	</div>
	<script>
		ToastMessage();
    </script>
</div>
<div th:if="${success}" class="toast-container position-fixed bottom-0 end-0">
	<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="8000">
		<div class="toast-header bg-success">
		    <i class="fas fa-check-circle me-2 mb-0 text-white h5"></i>
		    <strong class="me-auto text-white">Success</strong>
		    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
		  </div>
		<div class="toast-body bg-light rounded-bottom fw-bold" th:text="${success}">This is a toast message.</div>
	</div>
	<script>
		ToastMessage();
    </script>
</div>
</body>
</html>